SUPABASE_PROJECT_ID="jcpiucvukpssovwsqejo"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_jKY6xjYO1ppIUi-rwB9pPw_77oYKvI5"
SUPABASE_URL="https://jcpiucvukpssovwsqejo.supabase.co"
VITE_SUPABASE_PROJECT_ID="jcpiucvukpssovwsqejo"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_jKY6xjYO1ppIUi-rwB9pPw_77oYKvI5"
VITE_SUPABASE_URL="https://jcpiucvukpssovwsqejo.supabase.co"
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
GROQ_API_KEY=
RESEND_API_KEY=